html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: #011627;
	font-family: Consolas, monaco, monospace;
	overflow: hidden;
}

h1 {
	font-family: Consolas, monaco, monospace;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 23px;
}
h3 {
	font-family: Consolas, monaco, monospace;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 23px;
}
p {
	font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
blockquote {
	font-family: Consolas, monaco, monospace;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
pre {
	font-family: Consolas, monaco, monospace;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

/* UI */
.wrapper {
	padding: 0 0 0 0;
	min-height: 100vh;
	min-width: 100vh;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
#header {
	height: 32px;
	width: 100%;
	box-sizing: border-box;
	background-color: #242c38;
	color: lightgray;
	/* z-index: 3; */
	/* border: 2px #695a4e solid; */
	position: fixed;
	top: 0;
}
#header #drag-region {
	width: 100%;
	height: 100%;
	-webkit-app-region: drag;
}
#window-controls {
	display: grid;
	grid-template-columns: repeat(4, 46px);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	font-family: "Segoe MDL2 Assets";
	font-size: 10px;
}
#window-controls .button {
	grid-row: 1 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #242c38;
}
#window-controls #config-button {
	grid-column: 1;
}
#window-controls #min-button {
	grid-column: 2;
}
#window-controls #max-button,
#window-controls #restore-button {
	grid-column: 3;
}
#window-controls #close-button {
	grid-column: 4;
}
#window-controls {
	-webkit-app-region: no-drag;
}
#window-controls .button {
	user-select: none;
	cursor: default;
}
#window-controls .button:hover {
	background: #323d4d;
}
#window-controls .button:active {
	background: #3c495c;
}
#restore-button {
	display: none !important;
}
.maximized #titlebar {
	width: 100%;
	padding: 0;
}
.maximized #window-title {
	margin-left: 12px;
}
.maximized #restore-button {
	display: flex !important;
}
.maximized #max-button {
	display: none;
}

#content {
    padding: 25px;
    background-color: #5c6979;
	display: inline-block;
	width: 75%;
}

.btn {
	background-color: #3e5166;
	display: inline-block;
	padding: 5px;
    cursor: default;
    color: #fff;
}
.btn:hover {
	background: #323d4d;
}
.btn:active {
	background: #3c495c;
}

/* Center the loader */
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  /* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
  }

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}